In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [25]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [26]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [29]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [41]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

In [30]:
[x**2 for x in range(9)]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [31]:
[x**2 for x in range(9) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [32]:
a=[1,2,3,4]
b=['a','b','c','d']
pair=[(x,y) for x in a for y in b]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [33]:
t=(1,2,3,4)
x=(5,6,7,8)
# pair2=[(x,y) for x in t for y in x]
# print(pair2)
c=x+t
print(c)

(5, 6, 7, 8, 1, 2, 3, 4)

In [34]:
t*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [35]:
t.count(1)

1

In [36]:
t.index(1)#1st occurrence of 1

0

In [37]:
a=1,2,3,4
unpacka, b, c, d = a
print(unpacka, b, c, d)

1 2 3 4

In [38]:
n=(1,2,3,4,5,6,7,8,9,10)
f,*middle, l=n
print(f, middle, l)

1 [2, 3, 4, 5, 6, 7, 8, 9] 10

In [42]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [43]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [46]:
x = thisdict.get("model")
print(x)

Mustang

In [47]:
x = thisdict.keys()     
print(x)

dict_keys(['brand', 'model', 'year'])

In [48]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [50]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [51]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [52]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [53]:
for x in thisdict:
  print(x)

brand
year

In [56]:
for x in thisdict.values():
  print(x)

Ford
1964

In [54]:
for x in thisdict.keys():
  print(x)

brand
year

In [55]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
year 1964

In [57]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [58]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [59]:
d={'a': 1, 'b': 2, 'c': 3}
d2= {'h': 4, 'i': 5, 'j': 6}
m={**d, **d2
}
print(m)

{'a': 1, 'b': 2, 'c': 3, 'h': 4, 'i': 5, 'j': 6}

In [ ]:
def greet(names="World"):
    print(f"Hello, {names}!")

In [63]:
greet("Alice")

Hello, Alice!

In [ ]:
# posn argue and vari len argue

def my_function(*b):
    for no in b:
        print(no)

    # refers all positional arguments passed to the function

In [61]:
my_function(1, 2, 3, 4, 5,"as")

1
2
3
4
5
as

In [64]:
# keyword arguments
# kwargs-->keyword argue its given by doub;e star
# all values in form of key value pair

def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [65]:
print_info(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [66]:
def my_function(*args, **kwargs):
    for arg in args:
        print(arg)
    
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [67]:
my_function(1, 2, 3, 4, 5)

1
2
3
4
5

In [68]:
my_function(1, 2, 3, name="Alice", age=30)

1
2
3
name: Alice
age: 30

In [69]:
my_function(1, 2, 3, name="Alice",6, age=30)

SyntaxError: positional argument follows keyword argument (834986917.py, line 1)

LAMDA


function wo name , can have any no argue but 1 expression.

In [70]:
def add(a, b):
    return a + b

In [71]:
add(1, 2)

3

In [ ]:
lambda a,b: a + b

In [72]:
adn= lambda a,b: a + b
type(adn)
print(adn(1, 2))

3

In [74]:
#map apply fxn to all list itmes
no=[1, 2, 3, 4, 5]
def square(x):
    return x ** 2

In [75]:
list(map(lambda x: x ** 2, no))

[1, 4, 9, 16, 25]

In [76]:
map(square, no)

In [ ]:
# MAP multiple iterables

n1=[1, 2, 3]
n2=[4, 5, 6]

added_no= list(map(lambda x, y: x + y, n1, n2))
print(added_no)

[5, 7, 9]

In [79]:
str_no=["1", "2", "3"]
int_no=list(map(int, str_no))

In [80]:
words=["hello", "world", "python"]
words_upper=list(map(lambda x: x.upper(), words))
upper=list(map(str.upper, words))

filter fxn contsrts iterator from ele of an irerable for which fxn returns true. filters out items from list based n condn

In [82]:
def even(x):
    if x % 2 == 0:
        return True

In [83]:
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_lst = list(filter(even, lst))

In [87]:
people=[
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35}]

def agemorethan30(person):
    return person["age"] > 30
print(list(filter(agemorethan30, people)))

[{'name': 'Charlie', 'age': 35}]

In [106]:
from package2.maths import*
add(1, 2)

3

In [103]:
from package2.maths import add
add(1, 2)

3

In [105]:
from package2 import maths
maths.add(1, 2)

3

In [ ]:
# if folder withing folder
from package.subpackage.muly import module

SyntaxError: invalid syntax (3740727656.py, line 1)